src/wsdl/mr.eclaimlink.ae/SearchIdentity.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="https://mr.eclaimlink.ae/SearchIdentity.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MemberRegistration"/><xs:element name="SearchEmiratesId"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="login" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="emiratesId" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="SearchEmiratesIdResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="SearchEmiratesIdResult" nillable="true" type="q1:MemberInsuranceResponse" xmlns:q1="http://schemas.datacontract.org/2004/07/MemberRegistration"/></xs:sequence></xs:complexType></xs:element></xs:schema>