src/wsdl/mr.eclaimlink.ae/SearchIdentity.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemberRegistration" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/MemberRegistration"><xs:complexType name="MemberInsuranceResponse"><xs:sequence><xs:element name="Result" type="xs:int"/><xs:element name="memberInformation" nillable="true" type="xs:string"/><xs:element name="ErrorMessage" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="MemberInsuranceResponse" nillable="true" type="tns:MemberInsuranceResponse"/></xs:schema>